<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#009933;">
<h1 style="margin-bottom:0;"><strong>BEAUTY</strong></h1></div>


<div id="menu" style="background-color:#00CC99;height:400px;width:300px;float:left;">
<b>MENU</b><br><br>

<i><b>CLEANSING</i></b><br><br>
<i><b>TONING</i></b><br><br>
<i><b>SCRUBING</i></b></div>

<div id="content" style=background-color:#00CCCC;height:400px;width:700px;float:left;">
<b> Beauty is the way ov ol.Its the soul ov every women.
beauty is something that brings in you the confidence and poise to stand tall in a group.
There are different kinds ov beauty techniques that women employ like the cleansing,the scrubing and toning.
Thus beauty is something that almost evry women desires for.<br><br>
<img border="10" src="images/beauty.jpg" alt="beauty time" width="500" height="250"/>


</div>



<div id="footer" style="background-color:#009933;clear:both;text-align:center;">Beauty-Speaks your soul and mind</div>

</div>

</body>
</html>



