<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#FF6699;">
<h1 style="margin-bottom:0;"><strong>CLOTHING</strong></h1></div>


<div id="menu" style="background-color:#FFCC99;height:500px;width:300px;float:left;">
<b>MENU</b><br><br>

<i><b>FORMAL WEAR</i></b><br><br>
<i><b>ETHNIC WEAR</i></b><br><br>
<i><b>CASUAL APPARELS</i></b></div>

<div id="content" style=background-color:#FF9999;height:500px;width:700px;float:left;">
<b> Clothing is the way of lifestyle.end ov day it all boils to what u wear and how u dress up.
Wearing all kinds ov trendy, out of the box apprels creates an everlasting impression to an individuals personality.
On the other hand the formal clothing is essential for creating a balanced and discipline lifestyle.
Thus clothing is the way u are and it speaks all about you.<br><br>
<img border="10" src="images/clothing.jpg" alt="clothing time" width="500" height="250"/>


</div>



<div id="footer" style="background-color:#FFCC99;clear:both;text-align:center;">Clothing-The way ov lifestyle</div>

</div>

</body>
</html>



