<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#FFCCCC;">
<h1 style="margin-bottom:0;"><strong>DANCE</strong></h1></div>


<div id="menu" style="background-color:#FFCC99;height:400px;width:300px;float:left;">
<b>MENU</b><br><br>

<i><b>CLASSICAL DANCE</i></b><br><br>
<i><b>CONTEMPORARY DANCE</i></b><br><br>
<i><b>FOLK DANCE</i></b></div>

<div id="content" style=background-color:#FFFFCC;height:400px;width:700px;float:left;">
<b>India is a land ov diverse cultures and tradations.
Each region has its unique culture which is endowed in the various dance forms.
Almost all the regions have their folk dance form which provides a way of expression of their community.
These dances are performed on various occassions and festivals to express elate and joy!!<br><br>
<img border="10" src="images/dance.jpg" alt="dance time" width="500" height="250"/>


</div>



<div id="footer" style="background-color:#FFCCCC;clear:both;text-align:center;">life ua life on the rythm ov dance.. </div>

</div>

</body>
</html>



