<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#FFCCCC;">
<h1 style="margin-bottom:0;"><strong>EDUCATION</strong></h1></div>


<div id="menu" style="background-color:#FFCC99;height:400px;width:300px;float:left;">
<b>MENU</b><br><br>

<i><b>FORMAL EDUCATION</i></b><br><br>
<i><b>ALTERNATIVE EDUCATION</i></b><br><br>
<i><b>ADULT EDUCATION</i></b></div>

<div id="content" style=background-color:#FFFFCC;height:400px;width:700px;float:left;">
<b>Education system has come a long way since its origin.
 Present day education is much more structured in comparison to yesteryears, when there was no such concept of a formal education system.
 Education can be defined as the knowledge of putting one’s potential into maximum use. 
It helps a person to make the right decisions in life.<br><br>
<img border="10" src="images/education.jpg" alt="Study Time" width="500" height="250"/>


</div>



<div id="footer" style="background-color:#FFCCCC;clear:both;text-align:center;"> </div>

</div>

</body>
</html>



