<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#FFCC99;">
<h1 style="margin-bottom:0;"><strong>FESTIVALS</strong></h1></div>


<div id="menu" style="background-color:#FFCCCC;height:400px;width:300px;float:left;">
<b>MENU</b><br><br>

<i><b>NATIONAL AND LOCAL</i></b><br><br>
<i><b>CARNIVALS</i></b><br><br>
<i><b>SECULAR MODERNIST FESTIVALS</i></b></div>

<div id="content" style=background-color:#FF9999;height:400px;width:700px;float:left;">
<b>A festival or gala is an event ordinarily staged by a community, 
centering on and celebrating some unique aspect of that community and its traditions,
often marked as a local or national holiday, mela or eid.
Festivals often serve to meet specific purposes, especially in regard to commemoration and/or thanksgiving.
They are associated with celebration and may also provide entertainment, 
which is particularly important to local communities before the advent of mass-produced entertainment.<br><br>
<img border="10" src="images/festivals.jpg" alt="festivity time" width="500" height="250"/>


</div>



<div id="footer" style="background-color:#FFCC99;clear:both;text-align:center;">Festivals-They are the part and parcel of ones life</div>

</div>

</body>
</html>



