<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#009933;">
<h1 style="margin-bottom:0;"><strong>FOODS</strong></h1></div>


<div id="menu" style="background-color:#00CC99;height:400px;width:300px;float:left;">
<b>MENU</b><br><br>

<i><b>INDIAN TRADITIONAL</i></b><br><br>
<i><b>SOUTH INDIAN DELICACIES</i></b><br><br>
<i><b>DESSERTS</i></b></div>

<div id="content" style=background-color:#00CCCC;height:400px;width:700px;float:left;">
<b>Food, nutrition, health and nutritional status are connected with life.
Food is that which nourishes our body and keeps us healthy. 
It can be defined anything eaten or drunk, when swallowed, digested and assimilated in the body, keeps it well.
In short, food is the raw material from which our body is made. 
When we takes kind of food, we ensure good health which could be evident in our physical appearances, work efficiency and emotional well-being. 
<br><br>
<img border="10" src="images/foods.jpg" alt="foodiee time" width="500" height="250"/>


</div>



<div id="footer" style="background-color:#009933;clear:both;text-align:center;">FOODS-Enriches your soul and mind</div>

</div>

</body>
</html>



