<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#FFCCCC;">
<h1 style="margin-bottom:0;"><strong>MOVIES</strong></h1></div>


<div id="menu" style="background-color:#FFCC99;height:400px;width:300px;float:left;">
<b>MENU</b><br><br>

<i><b>ANIMATED MOVIES</i></b><br><br>
<i><b>ACTION/COMEDY</i></b><br><br>
<i><b>DOCUMENTARY</i></b></div>

<div id="content" style=background-color:#FFFFCC;height:400px;width:700px;float:left;">
<b>Movies are a way to relax mind and body.Entertainment coupled with a bit ov lesson provides an individual a medium to
get relieved from the busy hectic schedules and over loaded people all over.3D animated movies provide us with an essence ov the real world around us.
Thrillers and suspence are undoubtedly a fun to watch and thus are a source of entertainment in todays world.<br><br>
<image border="10" src="images/movies.jpg" alt="movie time" width="500" height="250"/>


</div>



<div id="footer" style="background-color:#FFCCCC;clear:both;text-align:center;">live ua life on the action ov movies.. </div>

</div>

</body>
</html>



