<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#009933;">
<h1 style="margin-bottom:0;"><strong>MUSIC</strong></h1></div>


<div id="menu" style="background-color:#00CC99;height:400px;width:300px;float:left;">
<b>MENU</b><br><br>

<i><b>CLASSICAL</i></b><br><br>
<i><b>POP MUSIC</i></b><br><br>
<i><b>FOLK MUSIC</i></b></div>

<div id="content" style=background-color:#00CCCC;height:400px;width:700px;float:left;">
<b>Music is the sole of or nation.It not only encompasses different cultures together but also helps
an individual lead a calm and balanced life.Music enriches our soul in varied forms and is ov vital importance
for a person to enter a world of tranquility and serenity.<br><br>
<img border="10" src="images/music.jpg" alt="music time" width="500" height="250"/>


</div>



<div id="footer" style="background-color:#009933;clear:both;text-align:center;">Music-Enriches your soul and mind</div>

</div>

</body>
</html>



