<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#FF6699;">
<h1 style="margin-bottom:0;"><strong>SPORTS</strong></h1></div>


<div id="menu" style="background-color:#FFCC99;height:500px;width:300px;float:left;">
<b>MENU</b><br><br>

<i><b>FOOTBALL</i></b><br><br>
<i><b>CRICKET</i></b><br><br>
<i><b>BADMINTON</i></b></div>

<div id="content" style=background-color:#FF9999;height:500px;width:700px;float:left;">
<b>Sports are a part and parcel of ones life.They lead to a healthy mind and eventually to a healthy body.
There are many kinds ov sports played in every sphere of the world.Badminton,Cricket and football are few examples ov 
sports that have become an integral part ov people all over the world.<br><br>
<img border="10" src="images/sports.jpg" alt="sports time" width="500" height="250"/>


</div>



<div id="footer" style="background-color:#FFCC99;clear:both;text-align:center;">Sports-Lead to a balanced lifestyle</div>

</div>

</body>
</html>



