<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#FFCC99;">
<h1 style="margin-bottom:0;"><strong>TRAVEL</strong></h1></div>


<div id="menu" style="background-color:#FFCCCC;height:400px;width:300px;float:left;">
<b>MENU</b><br><br>

<i><b>HISTORICAL VISITS</i></b><br><br>
<i><b>GROUP TOURS</i></b><br><br>
<i><b>BUSINESS TRAVELS</i></b></div>

<div id="content" style=background-color:#FF9999;height:400px;width:700px;float:left;">
<b>Travelling is a part ov education and experience.It keeps us busy during leisure time;
it is the best way to utilize time.It provides a person both physical and mental satisfaction.
While travelling one comes across a number of people from varied backgrounds and places.
The interaction thus helps an individual to lead a balanced life!! <br><br>
<img border="10" src="images/travel.jpg" alt="travel time" width="500" height="250"/>


</div>



<div id="footer" style="background-color:#FFCC99;clear:both;text-align:center;">Travel-It is the part and parcel of ones life</div>

</div>

</body>
</html>



